* {
	font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
	"Droid Sans", "Helvetica Neue", sans-serif;
}

a
{
	text-decoration: none;
	color: #262626;
	font-weight: 600;
	transition: all .3s;
}

a:hover
{
	opacity: .5;
	transition: all .3s;
}

body
{
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	color: #262626;
}

input
{
	border: 1px solid #efefef;
	font-size: 14px;
	border-radius: 3px;
	outline: 0;
	padding: 0 10px;
	background: white;
	color: #262626;
}

textarea
{
	border: 1px solid #efefef;
	font-size: 14px;
	border-radius: 3px;
	outline: 0;
	padding: 0 10px;
	background: white;
	color: #262626;
}

input::placeholder
{
	color: lightgrey;
}

button
{
	border: 1px solid transparent;
	background-color: #3897f0;
	border-radius: 4px;
	display: block;
	font-weight: 600;
	padding: 5px 9px;
	text-align: center;
	font-size: 13px;
	line-height: 18px;
	color: #fff;
	cursor: pointer;
}

button:active
{
	opacity: .7;
}

.user-pic
{
	border-radius: 50%;
	overflow: hidden;
}

.user-pic img
{
	height: 100%;
	width: auto;
}

#nav
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
	padding: 25px 0;
	background-color: white;
	color: #262626;
}

#nav .container
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 1010px; 
}

#nav .logo
{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #262626;
	transition: all .3s; 
}

#nav .logo:hover
{
	transform: scale(1.1);
	opacity: .5;
	transition: all .3s;
}

#nav .separator
{
	background-color: #262626;
    height: 28px;
    margin: 0 16px;
    width: 1px;
}

#nav .logo a
{
	font-weight: bold;
	text-transform: uppercase;
	color: #262626;
	text-decoration: none;
	transition: color .3s;
}

#nav .search
{
	position: relative;
}

#nav .search i
{
	color: #999;
	position: absolute;
	top: 9px;
	left: 8px;
	transition: all .3s;
}

#nav .search i:hover
{
	color: #3897f0;
	transition: all .3s;
}

#nav .search input
{
	border: solid 1px #dbdbdb;
	border-radius: 3px;
	outline: 0;
	padding: 5px 10px 5px 26px;
	background: #fafafa;
	font-size: 14px;
	color: #999;
	width: 80%;
}

#nav .search input::placeholder
{
	font-size: 14px;
	color: #999;
}

#nav .search #search-results
{
	display: none;
	flex-direction: column;
	background: #fff;
	border: solid 1px #e6e6e6;
	box-shadow: 0 0 5px rgba(0,0,0,.0975);
	border-radius: 3px;
	max-height: 362px;
    overflow-x: hidden;
    overflow-y: auto;
	position: absolute;
	left: -12%;
	top: 48px;
	max-height: 500px;
	width: 120%;
	z-index: 2;
}

#nav .search #search-results::after
{
	border-color: transparent transparent #fff;
	border-style: solid;
	content: " ";
	position: absolute;
    border-width: 0 10px 10px;
    height: 0;
    left: 110px;
    top: -10px;
    width: 0;
    z-index: 3;
}

#nav .search #corner
{
	content: " ";
	position: absolute;
	border: solid 1px #e6e6e6;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
    height: 14px;
    left: 0;
    margin: auto;
    right: 0;
    top: 40px;
    transform: rotate(45deg);
    width: 14px;
	z-index: 1;
	display: none;
}

#nav .search #search-results .user
{
	border-bottom: solid 1px #efefef;
	width: 88%;
	padding: 8px 14px;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

#nav .search #search-results .user:hover
{
	background: #fafafa;
}

#nav .search #search-results .user .user-pic
{
	height: 35px;
	width: 35px;
}

#nav .search #search-results .user a
{
	margin-left: 10px;
	font-weight: 600;
}

#nav .user
{
	display: flex;
	flex-direction: row;
	width: 150px;
	justify-content: space-between
}

#nav .user a
{
	color: #262626;
}

#content
{
	flex-grow: 1;
}

#footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(var(--b6a,219,219,219),1);
	padding: 5px;
	background-color: white;
	color: #262626;
}

#footer p
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: .7em;
}

#login
{
	display: flex;
	justify-content: center;
	height: 500px;
}

#register
{
	display: flex;
	justify-content: center;
	height: 500px;
}

.form-box
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	max-width: 600px;
	width: 100%;
	border-radius: 3px;
	padding: 50px;
	margin: 60px auto 0;
}

.form-box a
{
	color: #3897f0;
}

.form-box .form
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	width: 100%;
}

.form-box input
{
	width: 300px;
	height: 32px;
}

.form-box textarea
{
	width: 300px;
	height: 70px;
}

.form-box label
{
	font-weight: bold;
	text-align: right;
	width: 30%;
	padding-right: 20px;
}

.form-box form span
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;
}

#gallery
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#gallery .page {
	display: none;
}

#gallery .post
{
	display: flex;
	flex-direction: column;
	max-width: 1010px;
	margin: 20px;
	color: #262626;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #e6e6e6;
}

#gallery:first-child{
	margin-top: 40px;
}

#gallery .post .user .user-pic
{
	height: 2vw;
	width: 2vw;
}

#gallery .post .user
{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	padding: 10px 20px;
}

#gallery .post .user a
{
	margin-left: 15px;
}

#gallery .post .content
{
	width: 100%;
	height: auto;
}

#gallery .post .bottom
{
	padding: 15px;
	padding-bottom: 5px;
	height: 55px;
}

#gallery .post .bottom .likes form button
{
	background: none;
	color: #999;
	padding: 0;
	border: none;
	font-size: 18px;
	font-weight: normal;
	transition: color .3s;
}

#gallery .post .bottom .likes form button .liked
{
	color: #ED4956;
}

#gallery .post .bottom .likes form button:hover
{
	color: #ED4956;
	transition: color .3s;
}

#gallery .post .bottom .likes-cont
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

#gallery .post .comments
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0 15px;
	padding-bottom: 10px;
}

#gallery .post .comments span
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px 0;
	height: 12px;
}

#gallery .post .comments span a
{
	margin-right: 5px;
}

#gallery .post .comment-form
{
	display: flex;
	flex-direction: row;
	align-items: center;
	border-top: 1px solid #efefef;
	padding: 0 16px;
	height: 50px;
}

#gallery .post .comment-form form
{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

#gallery .post .comment-form form textarea
{
	resize: none;
	flex: 1;
	border: none;
	height: 18px;
	max-height: 80px;
	color: #262626;
	padding: 0;
}

#gallery .post .comment-form button
{
	background: transparent;
	color: #3897f0;
	font-size: 15px;
}

#gallery .post .comment-form button:disabled
{
	opacity: .3;
}

#gallery .like-drawer
{
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.65);
	justify-content: center;
	align-items: center;
}

#gallery .like-drawer .content
{
	width: 400px;
	max-height: 400px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-radius: 12px;
}

#gallery .like-drawer .content .header
{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid #dbdbdb;
}

#gallery .like-drawer .content .header p
{
	margin: 15px 0;
	font-size: 16px;
	font-weight: 600;
}

#gallery .like-drawer .content .header a
{
	position: absolute;
	right: 10px;
	top: 9px;
}

#gallery .like-drawer .content .likes
{
	display: flex;
	height: 85%;
	flex-direction: column;
	overflow: scroll;
}

#gallery .like-drawer .content .likes .like
{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 16px;
}

#gallery .like-drawer .content .likes .like .user-pic
{
	width: 2vw;
	height: 2vw;
}

#gallery .like-drawer .content .likes .like a
{
	margin-left: 12px;
}

#account
{
	min-height: 600px;
	display: flex;
	justify-content: center;
}

#account .form-box .profile-header
{
	display: flex;
	flex-direction: row;
	justify-content: left;
	width: 75%;
	margin-bottom: 25px;
}

#account .form-box .profile-header .user-pic
{
	width: 80px;
    height: 80px;
}

#account .form-box .profile-header form #pic
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#account .form-box .profile-header form .pic-picker
{
	color: #3897f0;
	font-weight: 600;
	cursor: pointer;
	transition: all .3s;
}

#account .form-box .profile-header form .pic-picker:hover
{
	opacity: .5;
	transition: all .3s;
}

#account .form-box .profile-header .username
{
	margin-left: 50px;
}

#account .form-box .profile-header .username p
{
	font-size: 20px;
	margin-bottom: 5px;
}

#account .form-box .profile-header .username a
{
	color: #3897f0;

}

#account .form-box .reset-btn
{
	background: transparent;
	color: #3897f0;
	font-size: 15px;
	margin: 15px 0;
}

#user
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#user .container
{
	max-width: 935px;
	padding: 60px 20px 0;
}

#user .user-head
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#user .user-head .user-pic
{
	width: 150px;
	height: 150px;
	position: relative;
}
#user .user-head .user-pic::after
{
	border: 1px solid rgba(0,0,0,.0975);
    border-radius: 50%;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

#user .container .user-head .infos
{
	width: 70%;
}

#user .container .user-head .infos .username
{
	font-weight: 300;
	font-size: 28px;
	line-height: 32px;
	margin: 10px 0;
}

#user .container .user-head .infos .counters
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#user .container .user-head .infos .counters .counter
{
	display: flex;
	flex-direction: row;
}

#user .container .user-head .infos .counters .counter p:first-child
{
	margin-right: 5px;
	font-weight: 600;
}

#user .container .user-head .infos .bio
{
	width: 90%;
}

#user .container .user-posts
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-top: 1px solid #efefef;
	margin: 80px auto;
}

#user .container .user-posts p
{
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 12px;
	text-align: center;
	margin-top: 25px;
}

#user .container .user-posts .post
{
	position: relative;
	width: 280px;
	height: 280px;
	overflow: hidden;
	margin: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#user .container .user-posts .post img
{
	height: 100%;
}

#user .container .user-posts .post .overlay
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
	background-color: rgba(0, 0, 0, .3);
	opacity: 0;
	transition: all .3s;
}

#user .container .user-posts .post .overlay:hover
{
	opacity: 1;
	transition: all .3s;	
}

#user .container .user-posts .post .overlay div
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 25%
}

#user .container .user-posts .post .overlay div i
{
	margin-right: 8px;
}

#user .container .user-posts .post .overlay div p
{
	margin: 0;
	font-weight: 600;
	font-size: 18px;
	width: auto;
}

#camagru
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100vw;
}

#camagru .box {
	background-color: #fff;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	padding: 20px;
}

#camagru .camera-box
{
	width: 60%;
}

#camagru #user-pic 
{
	width: 30%;
}

#camagru #user-pic img
{
	width: 90%;
}

#camagru .camera {
	position: relative;
	width: 720px;
	z-index: 1;
}

#camagru .camera canvas
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

#camagru .camera button
{
	position: absolute;
	bottom: 40px;
	left: calc(50% - 54px);
	z-index: 3;
	display: none;
}

#camagru #filter-selector
{
	width: 200px;
}

#error
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#error h1
{
	text-transform: uppercase;
	margin-top: 50px;
}

#error p
{
	font-weight: bold;
}