* {
	font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
	"Droid Sans", "Helvetica Neue", sans-serif;
}

a
{
	text-decoration: none;
	color: #262626;
	font-weight: 600;
	transition: all .3s;
}

a:hover
{
	opacity: .5;
	transition: all .3s;
}

body
{
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	color: #262626;
}

input
{
	border: 1px solid #efefef;
	font-size: 14px;
	border-radius: 3px;
	outline: 0;
	padding: 0 10px;
	background: white;
	color: #262626;
}

textarea
{
	border: 1px solid #efefef;
	font-size: 14px;
	border-radius: 3px;
	outline: 0;
	padding: 0 10px;
	background: white;
	color: #262626;
}

input::placeholder
{
	color: lightgrey;
}

button
{
	border: 1px solid transparent;
	background-color: #3897f0;
	border-radius: 4px;
	display: block;
	font-weight: 600;
	padding: 5px 9px;
	text-align: center;
	font-size: 13px;
	line-height: 18px;
	color: #fff;
	cursor: pointer;
}

button:active
{
	opacity: .7;
}

#nav
{
	display: flex;
	flex-direction: row;
	justify-content: space-between ;
	align-items: center;
	border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
	padding: 25px 25%;
	background-color: white;
	color: #262626;
}

#nav .logo
{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #262626;
	transition: all .3s; 
}

#nav .logo:hover
{
	transform: scale(1.1);
	opacity: .5;
	transition: all .3s;
}

#nav .separator
{
	background-color: #262626;
    height: 28px;
    margin: 0 16px;
    width: 1px;
}

#nav .logo a
{
	font-weight: bold;
	text-transform: uppercase;
	color: #262626;
	text-decoration: none;
	transition: color .3s;
}

#nav .search
{
	position: relative;
}

#nav .search i
{
	color: #999;
	position: absolute;
	top: 9px;
	left: 8px;
	transition: all .3s;
}

#nav .search i:hover
{
	color: #3897f0;
	transition: all .3s;
}

#nav .search input
{
	border: solid 1px #dbdbdb;
	border-radius: 3px;
	outline: 0;
	padding: 5px 10px 5px 26px;
	background: #fafafa;
	font-size: 14px;
	color: #999;
	width: 100%;
}

#nav .search input::placeholder
{
	font-size: 14px;
	color: #999;
}

#nav .user a
{
	color: #262626;
}

#content
{
	flex-grow: 1;
}

#footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(var(--b6a,219,219,219),1);
	padding: 5px;
	background-color: white;
	color: #262626;
}

#footer p
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: .7em;
}

#login
{
	display: flex;
	justify-content: center;
	height: 500px;
}

#register
{
	display: flex;
	justify-content: center;
	height: 500px;
}

.form-box
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	max-width: 600px;
	width: 100%;
	border-radius: 3px;
	padding: 50px;
	margin: 60px auto 0;
}

.form-box a
{
	color: #3897f0;
}

.form-box form
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	width: 100%;
}

.form-box input
{
	width: 300px;
	height: 32px;
}

.form-box textarea
{
	width: 300px;
	height: 70px;
}

.form-box label
{
	font-weight: bold;
	text-align: right;
	width: 30%;
	padding-right: 20px;
}

.form-box form span
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;
}

#gallery
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#gallery .post
{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 20px;
	color: #262626;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #e6e6e6;
}

#gallery:first-child{
	margin-top: 40px;
}

#gallery .post .user img
{
	width: 5%;
	border-radius: 50%;
}

#gallery .post .user
{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	padding: 5px 15px;
}

#gallery .post .user a
{
	margin-left: 15px;
}

#gallery .post .content
{
	width: 100%;
	height: auto;
}

#gallery .post .bottom
{
	padding: 15px;
}

#account
{
	min-height: 600px;
	display: flex;
	justify-content: center;
}

#account .form-box .profile-header
{
	display: flex;
	flex-direction: row;
	justify-content: left;
	width: 75%;
	margin-bottom: 25px;
}

#account .form-box .profile-header img
{
	border-radius: 50%;
}

#account .form-box .profile-header .username
{
	margin-left: 50px;
}

#account .form-box .profile-header .username p
{
	font-size: 20px;
	margin-bottom: 5px;
}

#account .form-box .profile-header .username a
{
	color: #3897f0;

}

#error
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#error h1
{
	text-transform: uppercase;
	margin-top: 50px;
}

#error p
{
	font-weight: bold;
}